:root[data-bs-theme="light"] {
  --bs-heading-color-h1: #000000;
  --bs-heading-color: $gray-800;
  --bs-menu-bg: #ffffff;
  --bs-menu-bg-active: var(--bs-primary-bg-subtle);
  --bs-menu-bg-hover: var(--bs-body-bg);
  --bs-menu-color: #000000;
  --bs-alert-bg: var(--bs-alert-bg);
}

:root, :root[data-bs-theme="dark"] {
  --bs-heading-color-h1: var(--bs-body-color);
  --bs-heading-color: var(--bs-body-color);
  --bs-menu-bg: var(--bs-body-bg);
  --bs-menu-bg-active: var(--bs-body-bg);
  --bs-menu-bg-hover: var(--bs-tertiary-bg);
  --bs-menu-color: #f8f9fa;
  --bs-alert-bg: var(--bs-body-bg);
}
