/*
 * Use the function like this:
 * p {
 *   font-size: clamp-calc(1rem, 1.25rem);
 *   height: clamp-calc(40px, 50px); // accepts px or rem!
 * }
 */
@function clamp-calc($size-at-min-width, $size-at-max-width, $min-breakpoint: 360px, $max-breakpoint: 1380px) {
  $size-min: 0;

  @if str-index(#{$size-at-min-width}, 'rem') {
    $size-min: parseInt($size-at-min-width) * 16px;
  } @else if str-index(#{$size-at-min-width}, 'px') {
    $size-min: parseInt($size-at-min-width) * 1px;
  } @else {
    $size-min: parseInt($size-at-min-width) * 1px;
  }

  $size-max: 0;

  @if str-index(#{$size-at-max-width}, 'rem') {
    $size-max: parseInt($size-at-max-width) * 16px;
  } @else if str-index(#{$size-at-max-width}, 'px') {
    $size-max: parseInt($size-at-max-width) * 1px;
  } @else {
    $size-max: parseInt($size-at-max-width) * 1px;
  }

  $slope: ($size-max - $size-min) / ($max-breakpoint - $min-breakpoint);
  $y-axis-intersection: -1 * $min-breakpoint * $slope + $size-min;

  @return unquote("clamp(#{$size-min}, calc(#{$y-axis-intersection} + #{$slope} * 100vw), #{$size-max})");
}

@function parseInt($n) {
  @return $n / ($n * 0 + 1); /* 2 */
}
