#main {
  div.alert {
    margin-top: clamp-calc(1.5rem, 2.5rem);
    margin-bottom: clamp-calc(1.5rem, 2.5rem);

    div.rte > p:first-child, *:first-child {
      margin-top: 0 !important;
    }
    *:last-child {
      margin-bottom: 0 !important;
    }
  }
}
