.content-downloads, .content-download, .content-hyperlinks, .content-hyperlink {
  .content-downloads__inner, .content-download__inner, .content-hyperlinks__inner, .content-hyperlink__inner {
    margin-bottom: 0;
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0 !important
  }

  .content-hyperlink__inner {
    padding: 0 !important;
  }
}

.content-downloads, .content-download {
  li {
    margin-bottom: .75rem !important;
    margin-top: .75rem !important;

  }

  .icon-box-link-element__icon {
    display: none;
  }
}

.content-hyperlink {
  margin-top: .75rem !important;
}
