#anchorLinks.content-anchor-link {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;

  @media (min-width: $breakpoint-sm-up) {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  ul {
    display: flex;
    gap: 1rem 1.25rem;
    padding-left: 0;
    padding-bottom: 4px;
    list-style: none !important;
    overflow-x: auto;
    scrollbar-width: 1px; // Versteckt die Standard-Bar in Firefox

    &::-webkit-scrollbar {
      height: 1px; // Exakte Höhe für Chrome/Safari
    }

    &::-webkit-scrollbar-thumb {
      background: var(--bs-primary);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    li a {
      white-space: nowrap;
    }
  }
}
