.address-card {
  .address-card__icon {
    margin-bottom: var(--spacing-xs);
    display: flex;
    .address-card__icon-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: var(--bs-border-radius);
      background-color: var(--bs-primary-bg-subtle);

      svg {
        height: 1.5rem;
        width: auto;
        color: var(--accent-color);
      }
    }
  }
}

[data-bs-theme="dark"] .address-card {
  .address-card__icon {
    .address-card__icon-inner {
      background-color: var(--accent-color);
    }
    svg {
      height: 1.5rem;
      width: auto;
      color: var(--bs-body-color);
    }
  }
}



// Slider
.glide__slide {
  width: 24rem !important;   /* deine fixe Breite */
  flex: 0 0 24rem !important; /* verhindert, dass Glide die Breite überschreibt */
}

.glide__arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  pointer-events: none;
  padding: 0 .25rem;
}

.glide__arrow {
  pointer-events: all;
  background: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.4rem;
  transition: background 0.2s ease, transform 0.2s ease;
  .glide__arrow-icon--left, .glide__arrow-icon--right{
    width: auto;
    height: 5rem;
    color: var(--bs-heading-color);
  }
}

.glide__arrow:hover {
  background: transparent;
  transform: scale(1.1);
}
