.address-card {
  .address-card__icon {
    margin-bottom: var(--spacing-xs);
    display: flex;
    .address-card__icon-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: var(--bs-border-radius);
      background-color: var(--bs-primary-bg-subtle);

      svg {
        height: 1.5rem;
        width: auto;
        color: var(--accent-color);
      }
    }
  }
}

[data-bs-theme="dark"] .address-card {
  .address-card__icon {
    .address-card__icon-inner {
      background-color: var(--accent-color);
    }
    svg {
      height: 1.5rem;
      width: auto;
      color: var(--bs-body-color);
    }
  }
}
