.content-text-gallery {
  overflow: hidden;
  background-color: var(--bs-card-bg);

  &.bg-primary-subtle {
    .inner {
      background-color: var(--bs-primary-bg-subtle);
    }
  }

  &.bg-primary {
    .inner {
      background-color: var(--bs-primary);

      p, h1, h2, h3, h4, h5, h6 {
        color: #fff;
      }
    }
  }

  &.bg-white {
    .inner {
      background-color: var(--bs-tertiary-bg);
    }
  }

  .content-text-gallery__col-text {
    padding: clamp-calc(1rem, 2rem);

    h1 {
      margin-top: 0;
    }
  }
}


[data-bs-theme="dark"] {
  .content-text-gallery {
    background-color: var(--bs-card-bg);
    border-radius: var(--bs-border-radius);

    &.bg-primary-subtle {
      .inner {
        background-color: var(--bs-primary-bg-subtle);
      }
    }

    &.bg-primary {
      .inner {
        background-color: var(--box-bg-light);

        p, h1, h2, h3, h4, h5, h6 {
          color: var(--bs-body-color);
        }
      }
    }

    &.bg-white {
      .inner {
        background-color: var(--box-bg-light);

        p, h1, h2, h3, h4, h5, h6 {
          color: var(--bs-body-color);
        }
      }
    }
  }
}
