#footer {
  display: flex;
  justify-content: center;
  background-color: var(--bs-body-bg);
  margin-top: 2rem;
  margin-bottom: 2rem;

  .inside {
    padding_left: .5rem;
    padding_right: .5rem;

    * {
      color: var(--bs-body-color);
      font-size: clamp-calc(.875rem, 1rem) !important; // dynamic font-size
    }

    a, a span {
      //color: $primary;
    }

    .mod_navigation, .mod_customnav {
      ul {
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }

    section.footer-inner {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

