.layout-footer {
  display: flex;
  justify-content: center;
  background-color: var(--bs-body-bg);
  padding-top: 1rem;
  padding-bottom: 1rem;

  .inside {
    padding_left: .5rem;
    padding_right: .5rem;

    * {
      color: var(--bs-body-color);
    }

    .mod_customnav {
      ul {
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        > li {
          padding: 0 1rem;
          border-right: 1px solid var(--bs-body-color);
        }

        > li:last-child {
          border-right: none;
        }

      }
    }
  }
}
