body {
  background-color: rgba(134, 142, 150, 0.26);
}

#wrapper.container {
  background-color: #fff;
  @media (max-width: $breakpoint-lg-up) {
    margin: 0 !important;
    max-width: 100% !important;
  }
}

@media (min-width: $breakpoint-xxl-up) {
  #wrapper.container {
    max-width: 1380px;
  }
}

#left > .inside, #footer .footer-inner, #main > .inside {
  margin: 0.5rem;
}

section.article-section {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

section.mod_article.article-section {
  & > div.inner {
    padding-bottom: 1rem !important;
    border-bottom: 1px solid $gray-300;
  }
  .w-100 {
    img {
      width: 100% !important;
      max-width: 100% !important;
      height: auto !important;
    }
  }
  // Some margin after each content element
  [class*="ce_"]:not([class*="ce_headline"]) {
    margin-bottom: 2rem;
  }
  .content-hyperlink, .content_downloads li {
    margin-bottom: $spacer1 !important;
  }
  .ce_row {
    margin-bottom: 0 !important;
  }
}

section.mod_article.article-section:last-child {
  & > div.inner {
    border-bottom: 0;
  }
}

#left #desktopNavigation {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

#left .mod_search.block, #left .mod_login.login {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

#left .mod_login.login {
  border-top: 1px solid $gray-200;
}

#footer {
  background-color: $gray-800;
  * {
    color: $gray-200;
  }
  a, a span {
    color: $primary;
  }

}

#footer section.footer-inner {
  padding-top: 1rem;
  padding-bottom: 1rem;
  //border-top: 1px solid $gray-200;
}

// Icon before
a[href*="mailto:"] {
  @include icon-before('\f0e0');
}

// Icon
.content-downloads {
  ul {
    padding-left: 1rem;
    margin-bottom: 0;
    list-style-type: none;
    li .content-downloads--inner{
      display: flex;
      flex-wrap: nowrap;
      .fa {
        margin-right: 0.5rem;
      }
    }
  }
}

// Icon
.content-hyperlink .content-hyperlink--inner {
  padding-left: 1rem;
  display: flex;
  flex-wrap: nowrap;

  .fa {
    margin-right: 0.5rem;
  }
}

