#headerMobile.header-mobile {
  .header-mobile__inner {
    color: var(--bs-body-color);
    background: var(--bs-tertiary-bg);

    .header-mobile__logo-box img {
      width: clamp-calc(150px, 450px);
      height: auto;
    }

    button.mobile-navigation-toggler {
      color: var(--bs-body-color);
      background: transparent;
    }
  }
}

body {
  #mobileNavigation.mobile-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* full width */
    height: 100vh; /* full height */
    transform: translateX(-100%); /* initially hidden */
    transition: transform 0.3s ease;
    opacity: 1;
    z-index: 2000;
    color: #000;
    background: var(--bs-tertiary-bg);
    margin: 0;
    overflow: hidden;
    padding: clamp-calc(1.5rem, 1.5rem);

    .mobile-navigation__logo-box img {
      width: clamp-calc(150px, 450px);
      height: auto;
      margin-bottom: clamp-calc(3rem, 6rem);
    }

    button.mobile-navigation-toggler {
      color: var(--bs-body-color);
      background: transparent !important;
      position: absolute;
      top: clamp-calc(1.5rem, 3rem);
      right: clamp-calc(1.5rem, 3rem);
    }

    nav {
      ul {
        display: flex;
        flex-direction: column;
        gap: clamp-calc(.25rem, 1rem);
        list-style-type: none;
        padding: 0;

        li {
          padding: .75rem clamp-calc(1rem, 2rem);
          border-left: 5px solid #dcdcdc;
          background: var(--menu-bg);

          &:hover {
            background: var(--menu-bg-hover);
          }

          &.active {
            border-left: 5px solid var(--bs-primary);
          }

          > a {
            text-decoration: none;

            &:hover {
              color: var(--bs-primary);
            }
          }

          > strong, > a {
            padding-top: 0;
            padding-bottom: 0;
            font-size: clamp-calc(1.25rem, 2.875rem);
            font-weight: bold;
            color: var(--menu-color);
            line-height: 1.25;
          }
        }
      }
    }
  }

  button.mobile-navigation-toggler .nav-open {
    display: block;
  }

  button.mobile-navigation-toggler .nav-close {
    display: none;
  }
}

button.mobile-navigation-toggler {
  background: #fff;
  border: none;
}

body.mobile-navigation-active {

  #mobileNavigation.mobile-navigation {
    transform: translateX(0);
  }

  button.mobile-navigation-toggler .nav-open {
    display: none;
  }

  button.mobile-navigation-toggler .nav-close {
    display: block;
  }
}
