.layout-header {

  background-color: var(--bs-tertiary-bg);

  .inside {
    padding-bottom: 0;
    color: var(--bs-body-color);
    background: var(--bs-tertiary-bg);

    .layout-header__icon-links {
      margin: 0;
      padding: 0;
      list-style-type: none;
      align-items: flex-start;

      display: flex;
      gap: .5rem;

      li {
        line-height: 1;
        > button {
          border: 0;
          padding: 0;
          margin: 0;
        }

        > button, > a, > button > .fa {
          color: var(--bs-body-color);
          background: transparent;
          font-size: 2rem;
        }
      }

    }

  }
}
