.layout-wrapper {
  background-color: var(--bs-tertiary-bg);
  padding: 0;
}

@media (min-width: $breakpoint-xxl-up) {
  .layout-wrapper {
    max-width: 1380px;
  }
}

// Some padding for each layout section
.layout-header, .layout-left, .layout-main, .layout-footer {
  .inside {
    padding: clamp-calc(1.5rem, 2.5rem) clamp-calc(1.5rem, 3.5rem);
  }
}

// More padding for tablet devices
@include media-breakpoint-between(md, lg) {
  .layout-header, .layout-left, .layout-main, .layout-footer {
    .inside {
      padding-left: 3rem !important;
      padding-right: 3rem !important;
    }
  }
}

.mod_article {
  display: flow-root;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;

  .w-100 {
    img {
      width: 100% !important;
      max-width: 100% !important;
      height: auto !important;
    }
  }
}

// Set a default margin after each content element
[class^="content-"] {
  margin-bottom: var(--spacing-md);
  display: flow-root; // Prevent margin collapsing
}

// But no margin-bottom for these elements:
[class*="ce_"], .ce_row, .ce_dma_simplegrid_row_start, .ce_dma_simplegrid_column_start,
.content-headline, [class*="justify-content-"], .content-hyperlink, .content-download {
  margin-bottom: 0;
}

// Override default margin-top with tl_content.marginTop
[class*="content-"].mt-none, [class*="ce_"].mt-none {
  margin-top: var(--spacing-none) !important;
}

[class*="content-"].mt-small, [class*="ce_"].mt-small {
  margin-top: var(--spacing-sm) !important;
}

[class*="content-"].mt-medium, [class*="ce_"].mt-medium {
  margin-top: var(--spacing-md) !important;
}

[class*="content-"].mt-large, [class*="ce_"].mt-large {
  margin-top: var(--spacing-lg) !important;
}

// Override default margin-bottom with tl_content.marginBottom
[class*="content-"].mb-none, [class*="ce_"].mb-none {
  margin-bottom: var(--spacing-none) !important;
}

[class*="content-"].mb-small, [class*="ce_"].mb-small {
  margin-bottom: var(--spacing-sm) !important;
}

[class*="content-"].mb-medium, [class*="ce_"].mb-medium {
  margin-bottom: var(--spacing-md) !important;
}

[class*="content-"].mb-large, [class*="ce_"].mb-large {
  margin-bottom: var(--spacing-lg) !important;
}

// End content element margins
