.layout-header {

  background-color: var(--bs-tertiary-bg);

  .inside {
    padding-bottom: 0;
    color: var(--bs-body-color);
    background: var(--bs-tertiary-bg);

    button.layout-header__navigation-toggle {
      padding: .35rem;
      display: flex;
      align-items: center;
      background-color: transparent;

      .nav-open, .nav-close {
        svg {
          height: clamp-calc(2rem, 3rem);
          width: auto;
          color: var(--bs-body-color);
        }
      }

      span.label {
        font-size: clamp-calc(1.125rem, 1.75rem);
        margin-left: .25rem;
        color: var(--bs-secondary)
      }
    }
  }
}

.layout-header__search-bar {
  display: flex;
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 1.2s ease-in-out, padding 1.2s ease-in-out;

  .mod_search {
    width: 100%;
    margin: 0;
  }
}

body.search-bar-expanded .layout-header__search-bar {
  max-height: 500px;
  padding: 3rem 2rem; /* nur hier */
}
