.layout-left, .layout-header {

  .layout-left__logo-box, .layout-header__logo-box,  {
    width: clamp-calc(150px, 250px);
    height: auto;
    position:relative;
  }

  .brand-logo img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
