#desktopNavigation {
  background-color: #ffffff;
  border-radius: 0.175rem;

  ul.level_1 {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .level_1 {
    > li {
      padding: .75rem;
      border-left: 5px solid #dcdcdc;
      margin-bottom: 4px;
    }
    > li.active {
      border-left: 5px solid $brand-color;
    }

    > li:last-child {
      border-bottom: 0 !important;
    }

    > li > strong, > li > a, > li > a > span {
      font-weight: 600;
      text-transform: none !important;
      color: #000 !important;
      font-size: clamp-calc(1rem,1.125rem) !important;
      line-height: 1.5 !important;
    }

    > li > strong {
      padding: 0;
      display: block;
    }
  }

  .level_2 {
    > li {
      padding: 0;
    }

    > li > strong, > li > a, > li > a > span {
      font-weight: 600;
      text-transform: none !important;
      color: #000 !important;
      font-size: 0.75rem;
    }
  }

  // Active color
  li.active > span, li.active > strong {
    color: #000 !important;
  }
}

#footerNavigation {
  display: block;
  margin-bottom: 0.5rem;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0 1rem;
    }
  }
}

#headerNav.navbar {
  padding-top: .75rem;
  padding-bottom: .75rem;

  a.navbar-brand span {
    font-size: clamp-calc(1rem, 1.5rem, 340px, 992px);
  }

  .navbar-nav {
    margin-bottom: 1rem;
  }

  .nav-item * {
    color: $gray-100 !important;
  }

  .nav-item .active {
    color: #000 !important;
  }

  .nav-item *:hover {
    color: darken($gray-100, 20%) !important;
  }

  .nav-item .active:hover {
    color: #000 !important;
  }

  .level_1 * {
    font-size: 1rem;
  }

  .level_2 * {
    font-size: .875rem;
  }

  .level_3 * {
    font-size: .75rem;
  }

  .level_1 {
    padding-left: .875rem;

    > li {
      padding: .5rem 0;
    }
  }

  .level_2 {
    padding-left: .875rem;

    > li {
      padding: .3rem 0;
    }
  }

  .level_3 {
    padding-left: .875rem;

    > li {
      padding: .2rem 0;
    }
  }

}


