.layout-left .mod_navigation {
  border-radius: 0.175rem;
  margin-top: 4rem;

  ul.level_1 {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .level_1 {
    > li {
      padding: .75rem;
      border-left: 5px solid #dcdcdc;
      margin-bottom: 4px;
      background-color: var(--bs-menu-bg);
    }

    > li:hover {
      background: var(--bs-menu-bg-hover);
    }

    > li.active {
      border-left: 5px solid $brand-color;
      background: var(--bs-menu-bg-active);
    }

    > li:last-child {
      border-bottom: 0 !important;
    }

    > li > strong, > li > a, > li > a > span {
      font-weight: 600;
      text-transform: none !important;
      color: var(--bs-menu-color) !important;
      font-size: clamp-calc(1rem, 1.125rem) !important;
      line-height: 1.5 !important;
    }

    > li > strong {
      padding: 0;
      display: block;
    }
  }

  // Active color
  li.active > span, li.active > strong {
    color: var(--bs-menu-color) !important;
  }
}





