#desktopNavigation {
  background-color: #ffffff;
  border-radius: 0.175rem;
  margin-top: 4rem;

  ul.level_1 {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .level_1 {
    > li {
      padding: .75rem;
      border-left: 5px solid #dcdcdc;
      margin-bottom: 4px;
    }

    > li:hover {
      background: var(--bs-body-bg);
    }

    > li.active {
      border-left: 5px solid $brand-color;
    }

    > li:last-child {
      border-bottom: 0 !important;
    }

    > li > strong, > li > a, > li > a > span {
      font-weight: 600;
      text-transform: none !important;
      color: #000 !important;
      font-size: clamp-calc(1rem, 1.125rem) !important;
      line-height: 1.5 !important;
    }

    > li > strong {
      padding: 0;
      display: block;
    }
  }

  .level_2 {
    > li {
      padding: 0;
    }

    > li > strong, > li > a, > li > a > span {
      font-weight: 600;
      text-transform: none !important;
      color: #000 !important;
      font-size: 0.75rem;
    }
  }

  // Active color
  li.active > span, li.active > strong {
    color: #000 !important;
  }
}

#footerNavigation {
  display: block;
  margin-bottom: 0.5rem;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0 1rem;
    }
  }
}



