#main .content-rsce-team .team-member-card {
  .team-member-card--inner{
    display: flex;
    gap: 1rem;
    background: var(--bs-body-bg);
    padding: .75rem;
    border-radius: var(--bs-border-radius);

    .col_1 {
      width: 100px !important;
      position: relative;
      padding: 0;
      flex: 0 0 100px;

      img {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
      }
    }

    .col_2 {
      flex: 1;

      .small {
        p, * {
          font-size: .875rem !important;
          margin: 0;
          line-height: 1.5;
        }
      }
    }
  }

}

html[data-bs-theme="dark"] {
  #main .content-rsce-team .team-member-card {
    .team-member-card--inner {
      padding: .75rem;
      background-color: var(--bs-body-bg);
      border-radius: .5rem;
    }
  }
}
