body {
  @include body-font-custom;
  color: $body-color;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
}

// Individuelle Anpassungen für spezifische Heading-Größen
// Map to store heading configurations

$headings-map: (
        h1: (2, 3, 0.75, 600, #000000), // font-size min, font-size max, margin, font-weight
        h2: (1.25, 1.75, 0.75, 600, #000000),
        h3: (1.10, 1.3, 0.75, 400, #000000),
        h4: (1.05, 1.25, 0.75, 600, $gray-800),
        h5: (1.0, 1.2, 0.75, 600, $gray-800),
        h6: (0.95, 1.15, 0.75, 600, $gray-800),
);

#main {
  // Loop through the map and apply styles


  h2:not(.subheading) {
    //@include icon-before('\f138', $primary);
    //color: $primary;
  }

  h2.subheading {
    //text-transform: uppercase !important;
    font-weight: 700 !important;
    font-size: clamp-calc(1.15rem, 1.35rem) !important;
    line-height: 2.25rem !important;
    margin-top: 0;
    color: #646464;
  }

  h3 {
    //@include icon-before('\f054', $gray-600);
  }

  p, a, li, span, strong, label, div {
    font-size: clamp-calc(.875rem, 1rem) !important; // dynamic font-size
  }

  a {
    text-decoration: none;
  }

  p {
    line-height: 1.6; // optimized readability
    margin-top: clamp-calc(0.5rem, 1.25rem);
    margin-bottom: clamp-calc(0.5rem, 1.25rem);
  }

  a.email:hover {
    background-color: inherit !important;
  }

  .content-text {
    ul {
      list-style: none; /* Removes default bullet */
      padding-left: 0;
    }

    li {
      line-height: 1.4; // optimized readability
      //margin-top: clamp-calc(0.5rem, 1.25rem);
      margin-bottom: clamp-calc(0.5rem, .75rem);
      @include icon-before('\f00c', $primary);
    }
  }

  li.download-element {
    margin-bottom: clamp-calc(0.3rem, .5rem);
  }

  @each $heading, $values in $headings-map {
    #{$heading} {
      font-size: clamp-calc(nth($values, 1) * 1rem, nth($values, 2) * 1rem); // Fluid font size
      font-weight: nth($values, 4);
      margin-top: nth($values, 3) * 1.5rem;
      margin-bottom: nth($values, 3) * 0.5rem;
      color: nth($values, 5);
    }

    #{$heading} > a {
      font-size: clamp-calc(nth($values, 1) * 1rem, nth($values, 2) * 1rem) !important; // Fluid font size
      font-weight: nth($values, 4) !important;
      //color: nth($values, 5);
    }
  }
}
