/** All sections **/

$headings-map: (
        h1: (1.800, 3.750, 1.3, 700, var(--accent-color), -0.02em), // font-size min, font-size max, margin, font-weight, letter-spacing
        h2: (1.332, 2.000, 1.3, 600, var(--bs-heading-color), -0.02em),
        h3: (1.200, 1.800, 1.2, 600, var(--bs-heading-color), -0.02em),
        h4: (1.150, 1.725, 1.0, 600, var(--bs-heading-color), -0.02em),
        h5: (1.100, 1.400, 0.8, 600, var(--bs-heading-color), -0.02em),
        h6: (1.000, 1.300, 0.6, 600, var(--bs-heading-color), -0.02em),
);

// Loop through the map and apply styles
$keys: map-keys($headings-map);

@for $i from 1 through length($keys) {
  $heading: nth($keys, $i);
  $values: map-get($headings-map, $heading);

  #{$heading}, .h#{$i} {
    /* Index: #{$i} -> 1,2,3,4,... */
    font-family: $font-family-headline;
    font-size: clamp-calc(nth($values, 1) * 0.8 * 1rem, nth($values, 2) * 0.8 * 1rem);
    font-weight: nth($values, 4);
    margin-top: nth($values, 3) * 0.875 * 1.5rem;
    margin-bottom: nth($values, 3) * 0.875 * 0.5rem;
    color: nth($values, 5);
    line-height: var(--bs-body-line-height);
    letter-spacing: nth($values, 6);
    overflow-wrap: break-word;
    word-break: break-word; /* fallback */
  }
}


a {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--bs-link-color-rgb) !important;
  }
}

p {
  margin-top: 0;
  margin-bottom: clamp-calc(0.5rem, 1rem);
}

.smaller {
  font-size: .75em;
}

.layout-wrapper {
  font-size: clamp-calc(1rem, 1.125rem);
}

/** Layout Main section only **/
.layout-main {

  font-size: clamp-calc(1rem, 1.125rem);

  $keys: map-keys($headings-map);

  // Loop through the map and apply styles
  @for $i from 1 through length($keys) {
    $heading: nth($keys, $i);
    $values: map-get($headings-map, $heading);

    #{$heading}, .h#{$i} {
      font-size: clamp-calc(nth($values, 1) * 1rem, nth($values, 2) * 1rem);
      font-weight: nth($values, 4);
      margin-bottom: clamp-calc(nth($values, 3) * .75rem, nth($values, 3) * 1.25rem);
      color: nth($values, 5);
    }
  }

  p {
    margin-top: 0;
    margin-bottom: clamp-calc(0.5rem, 1.25rem);
  }

  .content-text {
    ul {
      list-style: none;
      list-style-position: outside;
      padding-left: 0;

      li {
        position: relative;
        padding-left: 2rem;
        margin-bottom: clamp-calc(0.5rem, .75rem);
      }
    }

    ul li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.35rem;
      width: 1.5rem;
      height: 1.5rem;
      color: orange;
      background: url("../../images/icons/bootstrap/bi-check2--accent.svg") no-repeat center;
      background-size: contain;
    }
  }

  li.download-element {
    margin-bottom: clamp-calc(0.3rem, .5rem);
  }
}


