/*
 * Use the function like this:
 * p {
 *   font-size: clamp-calc(1rem, 1.25rem);
 *   height: clamp-calc(40px, 50px); // accepts px or rem!
 * }
 */
@function clamp-calc($size-at-min-width, $size-at-max-width, $min-breakpoint: 360px, $max-breakpoint: 1440px) {
  $size-min: 0;

  @if str-index(#{$size-at-min-width}, 'rem') {
    $size-min: parseInt($size-at-min-width) * 16px;
  } @else if str-index(#{$size-at-min-width}, 'px') {
    $size-min: parseInt($size-at-min-width) * 1px;
  } @else {
    $size-min: parseInt($size-at-min-width) * 1px;
  }

  $size-max: 0;

  @if str-index(#{$size-at-max-width}, 'rem') {
    $size-max: parseInt($size-at-max-width) * 16px;
  } @else if str-index(#{$size-at-max-width}, 'px') {
    $size-max: parseInt($size-at-max-width) * 1px;
  } @else {
    $size-max: parseInt($size-at-max-width) * 1px;
  }

  $slope: calc(($size-max - $size-min) / ($max-breakpoint - $min-breakpoint));
  $y-axis-intersection: -1 * $min-breakpoint * $slope + $size-min;
  @return clamp(#{$size-min}, #{$y-axis-intersection} + #{$slope} * 100vw, #{$size-max});
}

@function parseInt($n) {
  @return $n / ($n * 0 + 1); /* 2 */
}

@mixin tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@mixin body-font-custom {
  font-family: 'Google Sans', 'Helvetica', 'Open Sans', 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@mixin heading-font-custom {
  font-family: 'Open Sans', 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

// Usage: @include icon-before('\f138', '#cccccc');
@mixin icon-before($icon,$color: false) {
  display: flex;
  flex-wrap: nowrap;
  &:before {
    font-family: $icon-font-name !important;
    padding-right: clamp-calc(.75rem, 0.4rem);
    content: "#{$icon}";
    @if $color {
      color: #{$color};
    }
  }
}
