@mixin tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Usage: @include icon-before('\f138', '#cccccc');
@mixin icon-before($icon,$color: false) {
  display: flex;
  flex-wrap: nowrap;
  &:before {
    font-family: $icon-font-name !important;
    padding-right: clamp-calc(.75rem, 0.4rem);
    content: "#{$icon}";
    @if $color {
      color: #{$color};
    }
  }
}
