html {
  font-size: 13px;
  @include media-breakpoint-up(sm) {
    font-size: 13px;
  }
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 15px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
}

body {
  @include body-font-custom;
  color: $gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: $gray-800;
}

h1 {
  font-size: 2.25rem;
  line-height: 3.3rem;
  margin-top: $spacer4;
  color: $primary;
}

h2:not(.subheading) {
  @include icon-before('\f138', $primary);
  color: #000;
  margin-top: $spacer4;
  font-size: 1.75rem;
  line-height: 2.6rem;
  margin-bottom: .75rem;
}

h3 {
  @include icon-before('\f054', $gray-300);
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-bottom: .75rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.8rem;
  margin-bottom: .75rem;
  margin-top: $spacer3;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.6rem;
  margin-top: $spacer3;
}

h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: $spacer3;
}

.subheading {
  //text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 1.25rem !important;
  line-height: 2.25rem !important;
  color: #646464;

}
a.email:hover{
  background-color: inherit !important;
}



